assignment4/assignment4/webservice_client/src/main/java/endpoint/adminService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="AdminParcelManagerService">
<types></types>
<message name="addParcel">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
<part name="arg3" type="xsd:int"></part>
<part name="arg4" type="xsd:int"></part>
<part name="arg5" type="xsd:int"></part>
</message>
<message name="addParcelResponse"></message>
<message name="removeParcel">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="removeParcelResponse"></message>
<message name="startTrackingParcel">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="startTrackingParcelResponse"></message>
<message name="updateParcelRoute">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="updateParcelRouteResponse"></message>
<message name="serviceTest">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="serviceTestResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="ParcelManager">
<operation name="addParcel" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://webservice/ParcelManager/addParcelRequest" message="tns:addParcel"></input>
<output wsam:Action="http://webservice/ParcelManager/addParcelResponse" message="tns:addParcelResponse"></output>
</operation>
<operation name="removeParcel">
<input wsam:Action="http://webservice/ParcelManager/removeParcelRequest" message="tns:removeParcel"></input>
<output wsam:Action="http://webservice/ParcelManager/removeParcelResponse" message="tns:removeParcelResponse"></output>
</operation>
<operation name="startTrackingParcel">
<input wsam:Action="http://webservice/ParcelManager/startTrackingParcelRequest" message="tns:startTrackingParcel"></input>
<output wsam:Action="http://webservice/ParcelManager/startTrackingParcelResponse" message="tns:startTrackingParcelResponse"></output>
</operation>
<operation name="updateParcelRoute" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://webservice/ParcelManager/updateParcelRouteRequest" message="tns:updateParcelRoute"></input>
<output wsam:Action="http://webservice/ParcelManager/updateParcelRouteResponse" message="tns:updateParcelRouteResponse"></output>
</operation>
<operation name="serviceTest">
<input wsam:Action="http://webservice/ParcelManager/serviceTestRequest" message="tns:serviceTest"></input>
<output wsam:Action="http://webservice/ParcelManager/serviceTestResponse" message="tns:serviceTestResponse"></output>
</operation>
</portType>
<binding name="AdminParcelManagerPortBinding" type="tns:ParcelManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="addParcel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</output>
</operation>
<operation name="removeParcel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</output>
</operation>
<operation name="startTrackingParcel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</output>
</operation>
<operation name="updateParcelRoute">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</output>
</operation>
<operation name="serviceTest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://webservice/"></soap:body>
</output>
</operation>
</binding>
<service name="AdminParcelManagerService">
<port name="AdminParcelManagerPort" binding="tns:AdminParcelManagerPortBinding">
<soap:address location="http://localhost:9901/adminService"></soap:address>
</port>
</service>
</definitions>